<div class="col-xs-12 col-sm-6 col-md-9">
  <h1>Selamat Datang di Halaman Penjual</h1>
  <ul>
    <li>Total Penawaran hari ini: 0 </li>
    <li>Total Pesanan hari ini: 0</li>
    <li>Total Post hari ini: 0</li>
  </ul>
</div>