<div class="col-xs-12 col-sm-6 col-md-9">
  <%= link_to 'Back', my_post_wholeseller_posts_path, :class => "btn btn-primary" %>
</div>

<div class="col-xs-12 col-sm-6 col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Mengubah post</h3>
    </div>
    <div class="panel-body">
      <%= render "form", url: wholeseller_post_path(@post), method: 'put', post: @post %>
    </div>
  </div>
</div>