<div class="col-xs-12 col-sm-6 col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Ringkasan akhir Penawaran</h3>
    </div>
    <div class="panel-body">
      <p>
        <b>Judul Post:</b>
        <%= @order.post.title rescue "-" %>
      </p>
      <p>
        <b>Harga penawaran perkilogram: </b>
        <%= @bergain.bergain_price rescue "-" %>
      </p>
      <p>
        <b>Tanggal survey </b>
        <%= @bergain.survey_date rescue "-" %>
      </p>
    </div>
  </div>
</div>