<div class="col-xs-12 col-sm-6 col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Daftar Aplikasi</h3>
    </div>
    <div class="panel-body">
      <%= render "form", url: seller_posts_path, method: 'post', post: @post %>
    </div>
  </div>
</div>

<%= link_to 'Back', seller_posts_path %>
